/*Esas*/

#esas{
    width:960px;
    height: auto;
    margin: auto;
}

/*Esas*/

/*Header*/

.logo{
    text-align: right;
    position: absolute;
    top:60px;
    left:370px;
    color:#66c4d0;
}

/*Header*/

/*Navigation bar*/

#nav_bar ul{
    background-color: #66c4d0;
}

#nav_bar ul ul{
    position: absolute;
    visibility: hidden;
    margin-top:15px;
}

#nav_bar ul li:hover>ul{
    visibility: visible;
    display: block;
}

.menu{
    display:inline-block;
    padding:15px;
    padding-right: 30px;
} 

.submenu{
    padding:15px;
    padding-right: 30px;
    list-style-type: none;
    display:block;
}

#nav_bar li a{
    text-decoration: none;
    color:#336799;
    font-size: 16px;
    font-weight: 300;
}

#nav_bar li>a:hover{
    color:black;
}
/*Navigation bar*/

/*Slideshow*/

#slideshow{
    width:960px;
    height: 320px;
    background-color:;
}

.slideshow_left{
    width:640px;
    height:320px;
    background-color:cadetblue;
    float:left;
}

.slideshow_right{
    width:280px;
    height: 320px;
    float:right;
    background-color: cornflowerblue;
    
}
/*Slideshow*/

/*Xəbərlər*/
.bashliq{
    text-align:;
    color:#008dd2;
    font-family: monospace;
    padding-left:20px;
}

#news{
    width:960px;
    height:540px;
    background-color:;
    margin-top: 14px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px #008dd2;
}

.news_1{
    width:300px;
    height: auto;
    background-color:;
    float: left;
    margin-right: 5px;
}

.news_1_left{
    width:300px;
    height: 215px;
    background-color:aliceblue;
    float: left;
    margin:5px;
    margin-left: 10px;
}

.news_2{
    width:300px;
    height: auto;
    background-color:;
    float:left;
    margin-right: 5px;
}

.news_2_center{
    width:300px;
    height: 215px;
    background-color:aliceblue;
    float: left;
    margin:5px;
    margin-left: 10px;
}


.news_right{
    width: 250px;
    height: 360px;
    background-color: bisque;
    float:right;
    margin-right:10px;
}

/*Xəbərlər*/

/*Footer*/
#footer{
    width:960px;
    height:200px;
    background-color: cornflowerblue;
    border-radius:30px;
    margin-top:20px;
}

.footer_left{
    width: 230px;
    height: 190px;
    background-color:aliceblue;
    float:left;
    margin-right: 20px;
    margin:5px;
    margin-left:20px;
}

.footer_center{
    width:240px;
    height: 190px;
    background-color:aliceblue;
    float:left;
    margin-right: 20px;
    margin:5px;
}

.footer_right{
    width:330px;
    height: 190px;
    background-color: aliceblue;
    float:right;
    margin:5px;
    margin-right:20px;
}


/*Footer*/